[2018-07-29 22:44] arhatbaid91 opened #1 "onDocumentEntered is never called"
I have cloned the example code but its not working. `onGeoQueryReady `is called directly, skipping `onDocumentEntered  `.

I have attached my database structure. Its basic but still if I may be messing up things there.

![capture](https://user-images.githubusercontent.com/19239996/43371410-03cbab42-9357-11e8-88cf-7b0c36e0d490.PNG)

[2018-08-02 20:12] theonlynick0430 commented on #1
Hey arhatbaid91,

Sorry to get back to you so late.

Your problem actually stems from your database structure, not the library
itself. The location of a document should be stored as follows:

Also, remember that you can always set the location of a document through
code.

Regards,
Nikhil Sridhar

On Sun, Jul 29, 2018 at 3:44 PM, arhatbaid91 <notifications@github.com>
wrote:

[2018-08-02 20:15] #1 closed

[2018-08-03 13:42] ChinHairSaintClair opened #2 "Upon import I get 'error: failed linking references.'"
Good day

I followed the link to 'Including GeoFirestore in your Android project'.
However as soon it is imported and sync is running it ends with an error as said in the title.

App level gradle:
[code]
Project level gradle:
[code]
Am I missing something ?

[2018-08-03 18:21] theonlynick0430 commented on #2
Hey ChinHairSaintClair,

Thank you for informing us about your problem. We will get back to you as
soon as possible with a solution.

Regards,
Nikhil Sridhar

On Fri, Aug 3, 2018 at 7:01 AM, ChinHairSaintClair <notifications@github.com

[2018-08-03 18:40] theonlynick0430 commented on #2
Hey ChinHairSaintClair,

I tried following the same instructions to implement GeoFirestore in the
example project, and everything seems to work.

I'm not exactly sure what's causing your error.

This is what the gradle files look like in the example project:

App Level Gradle -

apply plugin: 'com.android.application'

android {
    compileSdkVersion 28
    defaultConfig {
        applicationId "o

[2018-08-06 11:15] ChinHairSaintClair commented on #2
Good day theonlynick0430

Thank you for the quick response.

I found that if I set the following:
compileSdkVersion
targetSdkVersion
to lower than SDK version 28, I get the issues mentioned above.
Here is a screenshot:

![image](https://user-images.githubusercontent.com/41445931/43713575-56f85580-997a-11e8-8fa3-2d86a2b2d4ca.png)

Is there any way around this, or am I required to use SDK version 28

[2018-08-06 11:17] theonlynick0430 commented on #2
Sorry ChinHairSaintClair, but it looks like there is no way around. I
apologize for the incovenience.

On Mon, Aug 6, 2018 at 4:15 AM ChinHairSaintClair <notifications@github.com>
wrote:

[2018-08-06 18:53] ChinHairSaintClair commented on #2
Good day theonlynick0430

All good, should perhaps be listed in the readme as it wasn't very clear why the projects break upon import.

I ran into another issue.
Not sure if I should open another ticket/thread or continue on in this one.
The steps are as follows:
I init the GeoFirestore with my collections reference.
On the geoFirestore variable I execute 'queryAtLocation'.
Then on the 'geoQuery'

[2018-08-06 21:00] theonlynick0430 commented on #2
Hey ChinHairSaintClair,

We apologize that you are encountering these problems. To help better
understand your situation could you please provide the code you described.

Regards,
Nikhil Sridhar

On Mon, Aug 6, 2018 at 11:53 AM, ChinHairSaintClair <
notifications@github.com> wrote:

[2018-08-07 09:46] ChinHairSaintClair commented on #2
Good day theonlynick0430,

Unfortunately I am no longer able to provide the code as it was since I have moved on in my development.
Like I said in my comment above I followed your example app.
The only difference is when want to update my center/radius I called:
geoQuery.setRadius and/or geoQuery.setCenter
This was called in on map ready.

However I did get things going by setting the geoQuery aga

[2018-08-09 13:06] ttanhutau commented on #2
Hey,
I ve got the same issue
![image](https://user-images.githubusercontent.com/40535449/43900617-b7e73880-9be5-11e8-8fde-e29cff218e7f.png)

[2018-08-10 14:06] ChinHairSaintClair commented on #2
Good day,

I have finally run into some drawbacks again.
The method I used above won't give me any 'DocumentExited' events which I understand.
So I wrote a little app to test the flow of your example app with the added functionality of setting the center and radius as the camera moves.

I am still getting this error:

[code]

The test app tries to simulate moving to a new location after the initia

[2018-08-17 14:09] kenzdozz opened #3 "Can you make this package for web"

[2018-08-22 02:03] brendanosborne opened #4 "Error when updating geoQuery.center"
Hi Guys, I can't work this one out...

This works okay if the lat and lng don't change:
`geoQuery?.center = newLatLng`

If the lat and lng are different I am getting this error:

`java.lang.NullPointerException: Attempt to read from field 'com.google.firebase.firestore.ListenerRegistration org.imperiumlabs.geofirestore.GeoQuery$GeoHashQueryListener.childAddedListener' on a null object reference
`

[2018-08-25 08:55] TanapTheTimid commented on #4
I'm having the same problem

[2018-08-28 19:56] cammace commented on #4
I opened a PR to check this, @theonlynick0430 can you look at it when you get a chance?

[2018-08-28 20:02] cammace opened #6 "add updateCriteria method"
In the case of map querying, I want to update the query radius and center when the map camera finishes moving. This requires calling both `setCenter()` and `setRadius()` which both internally call `setupQueries()`. I'm proposing adding an `updateCriteria` method which takes in both a new radius and center GeoPoint, setting the values and _then_ calling `setupQueries()`.

cc: @theonlynick0430

[2018-08-29 01:12] dhruvshah1214 commented on #4
Hey guys, thanks so much; sorry, that's our bad!

- Dhruv

On Tue, Aug 28, 2018 at 12:56 PM Cameron Mace <notifications@github.com>
wrote:

[2018-08-29 01:12] #4 closed

[2018-09-02 19:36] csaq7151 opened #7 "GeoQueryDataEventListener is only calling onGeoQueryReady"
HI,
I know there is a solved issue where someone asked why onDocumentEntered is never called, but its not solving my issue.

I called `setLocation `to add a location to my document
[code]
then I call `getLocation` and I get the correct location- therefor I think the document is ok

[code]

after that I call the geoQueryDataEventListener to get the document snapshot but the methodes there are not f

[2018-09-04 05:19] chintak369promact opened #8 "Unable to add custom firestore query"
I am needed to get my documents based on nearby Geolocation which this library satisfy but I also want to add check 2-3 more conditions in documents (e.g. status, owner, and also with orderBy etc...)

Please provide the way to do like this

[2018-10-02 11:54] marijalukaroska1 opened #9 "Listeners Doesn't Seem To Work"
GeoQuery geoQuery = FirestoreManager.getInstance().getGeoFirestoreUsers().queryAtLocation(new GeoPoint(latitude, longitude), 0.5);

            geoQuery.addGeoQueryDataEventListener(new GeoQueryDataEventListener() {
                @Override
                public void onDocumentEntered(DocumentSnapshot documentSnapshot, GeoPoint geoPoint) {
                    Log.d(TAG, "marija document entered:

[2018-10-02 12:14] marijalukaroska1 commented on #7
I have the same problem :/

[2018-10-02 13:28] marijalukaroska1 commented on #9
I was storing the GeoPoint with error

geoFirestoreUsers.setLocation(uid, new GeoPoint(latitude, -longitude), new GeoFirestore.CompletionListener() {
            @Override
            public void onComplete(Exception e) {
                if(e!=null){
                    //TODO:  handle exception
                    return;
                }
                Log.d(TAG, "marija Location saved on serv

[2018-10-02 13:28] #9 closed

[2018-10-04 17:20] csaq7151 commented on #7
@marijalukaroska1 I wrote an email to the developers but they are not responding...
I don´t know if we get it working anytime soon.

[2018-10-10 03:35] brendanosborne commented on #4
@dhruvshah1214 how can I get the fix? The version still seems to be 1.1.1 ?

[2018-10-13 21:08] suiko1984 commented on #8
I have developed a library similar to this one to add compound queries. Feel free to use it.
https://github.com/suiko1984/geofirestore-android#compound-query

[2018-10-17 03:49] quebin31 opened #10 "What if the searched area is empty?"
I can't handle the case whenever the search area is empty, or maybe I'm not seeing it, it's like there is a missing `onEmptyResult` or something like that.

[2018-10-26 14:48] Marly1995 commented on #4
@dhruvshah1214 Any news on a new version with this fix included? It seems to have been fixed but is not released.

[2018-11-18 08:52] sanisloandras commented on #10
You should collect all your data in onDocumentEntered callback into some collection, until onGeoQueryReady is called.
`var isGeoQueryReady = false
val initialDocumentSnapshots = mutableListOf<DocumentSnapshot>()'

'override fun onGeoQueryReady() {
                    isGeoQueryReady = true
                    //check if initialDocumentSnapshots is empty
                }'

'override fun onDocument

[2018-12-20 21:47] Supercaly commented on #4
Still getting this error settings the center and the radius

[2018-12-24 08:02] thanhbinh84 opened #11 "onGeoQueryReady() doesn't fire when onDocumentEntered()"
Let say we have 2 items in database

1. onDocumentEntered() -> called twice
2. onGeoQueryReady() -> fires at the end -> we refresh the list view with the list of 2 items.

When a new item is added.
onDocumentEntered() -> fire, but onGeoQueryReady() is not called -> list view is not updated.

[2019-01-10 15:03] smithc42 opened #12 "Is this library maintained?"
Not getting any data back in my GeoQueryDataEventListener. Is this library working/maintained?

[2019-01-13 05:54] subrud commented on #12
No. I guess. There is a big issue regarding geoQueryAtLocation() and has been issued 3-4 times but developers ain't responding.

[2019-01-15 03:45] theonlynick0430 commented on #12
If you find an errors, please help contribute to the library by forking and adding a pull request. We will gladly approve them.

[2019-01-18 16:20] Supercaly commented on #12
The code in github already resolve the issue, but the version 1.1.1 is not up to date and dosn't contain the fix.

[2019-01-28 21:33] mirdones opened #13 "Incompatibility with firestore 18.0.0"
I updated firestore to version 18.0.0.

Now I am getting the following error:

java.lang.NoSuchMethodError: No virtual method set(Ljava/util/Map;Lcom/google/firebase/firestore/SetOptions;)Lcom/google/android/gms/tasks/Task; in class Lcom/google/firebase/firestore/DocumentReference; or its super classes (declaration of 'com.google.firebase.firestore.DocumentReference'
        at org.imperiumlabs.ge

[2019-01-31 17:22] tomergoldst commented on #13
Also have issues with version 18.0.0

In project 'app' a resolved Google Play services library dependency depends on another at an exact version (e.g. "[15.0.
1]", but isn't being resolved to that version. Behavior exhibited by the library will be unknown.

Dependency failing: com.google.android.gms:play-services-stats:15.0.1 -> com.google.android.gms:play-services-basement@[
15.0.1], but play-ser

[2019-02-03 14:53] 5nicolai commented on #13
**i hope this error will be fixed**

[2019-02-17 20:07] zoro238 commented on #13
same problem

[2019-02-17 20:38] zoro238 opened #14 "not write in firestore"
When you execute the command to write to the firestore the application collapses
Note that the firebase works perfectly

///
            geoFirestore.setLocation("k", new GeoPoint(37.7853889, -122.4056973), new GeoFirestore.CompletionListener() {
                @Override
                public void onComplete(Exception e) {

                    Log.v("geo","complete"+e);
                   /* if(

[2019-02-18 18:11] zoro238 opened #15 "error in geofirestore update location to firestore"
view error

    java.lang.NoSuchMethodError: No virtual method set(Ljava/util/Map;Lcom/google/firebase/firestore/SetOptions;)Lcom/google/android/gms/tasks/Task; in class Lcom/google/firebase/firestore/DocumentReference; or its super classes (declaration of 'com.google.firebase.firestore.DocumentReference' appears in /data/app/com.2.cvcvbb-2/base.apk)
        at org.imperiumlabs.geofirestore.GeoFir

[2019-02-18 22:12] mirdones commented on #14
its is the same issue as #13

[2019-02-18 22:12] mirdones commented on #15
its is the same issue as #13

[2019-02-19 04:24] zoro238 commented on #13
what sloved ?

[2019-02-19 12:12] zoro238 commented on #14
yes but i am used 18.0.1 and same probem

i search slove my problem

[2019-02-20 04:58] zoro238 commented on #13
i am used version 18.0.1

[2019-02-20 20:50] future-pirate-king commented on #13
this problem got resolved when I downgraded the firestore version to 17.1.2

[2019-02-20 21:08] mirdones commented on #13
That is not exactly solving the problem.

By the way, this library can work with Firestore up to 17.1.5

[2019-02-21 22:52] zoro238 commented on #13
i tested same error with firestore version to 17.1.2 and  17.1.5

[2019-02-22 03:54] future-pirate-king commented on #13
Share your app gradle configuration and the error you are facing.

[2019-02-22 05:47] zoro238 commented on #13
apply plugin: 'com.android.application'

android {

    compileOptions {
        sourceCompatibility JavaVersion.VERSION_1_8
        targetCompatibility JavaVersion.VERSION_1_8
    }
    compileSdkVersion 28
    defaultConfig {
        applicationId "com.2.cvcvbb"
        minSdkVersion 19
        targetSdkVersion 28
        versionCode 1
        versionName "1.0"
        multiDexEnabled true

[2019-02-22 05:47] zoro238 commented on #13
and error

///'
Now I am getting the following error:

java.lang.NoSuchMethodError: No virtual method set(Ljava/util/Map;Lcom/google/firebase/firestore/SetOptions;)Lcom/google/android/gms/tasks/Task; in class Lcom/google/firebase/firestore/DocumentReference; or its super classes (declaration of 'com.google.firebase.firestore.DocumentReference'
at org.imperiumlabs.geofirestore.GeoFirestore.setLocat

[2019-02-25 14:03] AlexPuhalschi opened #16 "Got DocumentSnapshow without location with key..."
Hey, I have cases when "l" is saved as map instead of array, on IOS version of library, document with such "l" value is just ignored, on Android it throws java.lang.AssertionError: Got DocumentSnapshot without location with key documentId, can you fix it so library will just got past it or onError will be called, it will be really useful. Bellow is error code:

    ` java.lang.AssertionError: Got

[2019-02-26 02:57] mirdones commented on #12
@theonlynick0430 could you please release a new version of this library with the pull request fix?

[2019-02-26 05:39] theonlynick0430 commented on #12
Sorry for the inactivity. I just released a new version. Let me know if it still doesn't work.

[2019-02-26 05:40] #12 closed

[2019-02-26 11:18] Supercaly opened #18 "Failed to resolve: v1.2.0 and 1.2.0"
I have tried importing the new releases (with tag v1.2.0 and 1.2.0) and in both case i got this error from Gradle sync
[code]

[2019-02-26 18:10] theonlynick0430 commented on #18
I just made a new release with the latest merge. Please try again.

[2019-02-26 20:18] zoro238 commented on #18
could you explain more ...
Because the use of the Library many problems ..
We want to use it

[2019-03-01 09:12] AlexPuhalschi commented on #16
Issue was fixed in library version 1.2.1, @theonlynick0430 can you close this issue?

[2019-03-28 13:50] frapeti opened #22 "Add a "where" filter, to avoid reading all documents"
The geoquery doesn't allow to add where filters, for instance a field "enabled" to avoid reading the whole collection.

[2019-04-03 17:00] AngaKoko commented on #13
I still get the error when I try removing GeoFirestore location using `removeLocation("itemId")` methos

[2019-04-11 15:18] jobot0 opened #23 "Build broken for v1.3.0"
Hello !
I was trying to use the last version but the build for `v1.3.0` seems to be broken on jitpack

https://jitpack.io/com/github/imperiumlabs/GeoFirestore-Android/v1.3.0/build.log

[code]

[2019-04-30 13:31] nminhanh-git commented on #13
I have this error with Firestore version 18.2.0 when using setLocation method

[2019-05-03 07:41] amitbd1508 commented on #13
downgrade to 17.1.5 solved my problem.

[2019-05-11 02:40] KelvinPac commented on #13
Is there no fix for this since January? Is the library still maintained?

[2019-05-11 10:25] N3g4tivo opened #25 "The link of documentation doesn't work"
The link of documentation doesn't work
[https://imperiumlabs.github.io/GeoFirestore-Android/](https://imperiumlabs.github.io/GeoFirestore-Android/)

[2019-05-13 07:48] AngaKoko commented on #13
You can set location in using

GeoHash geoHash = new GeoHash(new GeoLocation(mGeoPoint.getLatitude(),
mGeoPoint.getLongitude()));

map.put("g", geoHash.getGeoHashString());
map.put("l", Arrays.asList(mGeoPoint.getLatitude(), mGeoPoint.getLongitude()));

On Sat, 11 May 2019 at 03:40, Kelvin Murithi <notifications@github.com>
wrote:

[2019-05-15 04:37] scm573 commented on #23
Same, currently we have to integrate everything by downloading the source code directly.

Hi @theonlynick0430, would you please take a look at the build?
Thank you very much.

[2019-05-15 05:17] scm573 opened #26 "How to integrate this into a plain java project?"
Hey guys,

Currently we use a java batch to write data to Firestore, that means we need to construct the GeoHashes from the batch instead of from an Android project.
But after adding the dependency I find I cannot access the classes inside the .aar library, so as a workaround now I just added the several required classes.
Is there any better ways to solve this problem?

[2019-05-15 05:51] scm573 commented on #26
OK. I just find I can directly use this instead:
https://github.com/firebase/geofire-java

[2019-05-15 05:51] #26 closed

[2019-05-15 07:29] Supercaly opened #27 "Change data structure to fit geofirestore-js"
Change the data structure from this
[code]
To this
[code]
In order to support the users of the geofirestore-js library.

[2019-05-17 00:16] scm573 commented on #13
I think the incompatibility issue should has been resolved already.
Try v1.2.0 or v1.2.1. (Currently the build of v1.3.0 is failing so you cannot import that version from JitPack directly: https://github.com/imperiumlabs/GeoFirestore-Android/issues/23)

[2019-05-17 01:26] scm573 commented on #23
OK so I just tried fixing the issue and sent a PR. You may try the build of my fork branch first:
[code]
You can browse the built artifacts here:
https://javadoc.jitpack.io/com/github/scm573/GeoFirestore-Android/work-SNAPSHOT

[2019-05-17 07:58] KelvinPac commented on #13
Why don't we have support for other queries as well. maybe also limits?

On Fri, May 17, 2019 at 3:16 AM scm573 <notifications@github.com> wrote:

[2019-05-19 01:59] morcelicaio commented on #14
I have the same problem.

zoro238, did you solve this mistake?

[2019-05-19 02:12] morcelicaio opened #29 "It is not possible to register the location in the database"
The cod for register locate:

       CollectionReference collectionUsers = FirebaseFirestore.getInstance().collection("users");
        GeoFirestore geoFirestore = new GeoFirestore(collectionUsers);

        geoFirestore.setLocation("que8B9fxxjcvbC81h32VRjeBSUW2", new GeoPoint(37.7853889, -122.4056973), new GeoFirestore.CompletionListener() {
            @Override
            public void onComplet

[2019-05-19 02:13] morcelicaio commented on #29
This is the same problem of an issue 14

[2019-05-20 11:41] ParryPatel021 commented on #13
This has resolved my problem by changing the version 1.2.1 as @scm573 told

[2019-05-24 14:30] Supercaly commented on #23
There is a new version (1.4.0)
` implementation 'com.github.imperiumlabs:GeoFirestore-Android:v1.4.0'`

[2019-05-24 14:30] #23 closed

[2019-05-24 14:40] mirdones opened #30 "Cannot find symbol class GeoQueryDataEventListener on 1.4.0"
I have updated to 1.4.0 and now it can't find symbol class GeoQueryDataEventListener.

I am going back to 1.2.1 that was the last stable version that I could make work untill this is resolved.

[2019-05-24 15:34] Supercaly commented on #30
Can you post more about the error?
Post the part of the code, the error the IDE throws and all you can.

[2019-05-24 15:43] mirdones commented on #30
There was an error on import.

It was needed to change:

import org.imperiumlabs.geofirestore.GeoQueryDataEventListener;

to:

import org.imperiumlabs.geofirestore.callbacks.GeoQueryDataEventListener;

[2019-05-24 15:44] #30 closed

[2019-06-03 12:38] KelvinPac commented on #22
This is a very important feature that is missing. We also can't limit the results set

[2019-06-05 07:21] Supercaly commented on #29
What version of the library are you using? Try the v1.4.0, currently the stable release.

[2019-06-05 07:22] Supercaly commented on #18
Close because there is a new stable version (v1.4.0)

[2019-06-05 07:22] #18 closed

[2019-06-05 07:25] Supercaly commented on #16
Close because the issue is fixed in v1.2.0

[2019-06-05 07:25] #16 closed

[2019-06-05 07:34] #6 closed

[2019-06-11 15:19] Rekodr commented on #29
Any update on this. I am facing the same problem.

[2019-06-11 19:27] Supercaly commented on #29
What version of the library are you using?

[2019-06-11 19:30] #15 closed

[2019-06-11 19:36] Supercaly commented on #27
I think the structure of the library shouldn't change because of backward compatibility and because it's the unique mark of this library.
Currently, I'm working on an update that will use as default a GeoPoint for "l", but still accept a list like the current model, with this update all the data created by geofirestore-js will be readable by the library as aspected, the only problem is when creati

[2019-06-11 19:36] #27 closed

[2019-06-11 19:46] Supercaly commented on #10
Closing because it's solved by the documentation

[2019-06-11 19:46] #10 closed

[2019-06-18 06:01] morcelicaio commented on #29
@Rekodr , I solved my problem using this version:
implementation 'com.github.imperiumlabs:GeoFirestore-Android:v1.2.1'

Use this version or lastest.

[2019-06-18 08:54] Supercaly commented on #13
This problem **is present only in older versions of the library** and is caused by depending in an older version of Firestore, this **issue is solved using a version newer than** ***v1.2.1***.
Follow the README.MD to import the current stable version of the library

[2019-06-18 08:54] #13 closed

[2019-06-18 09:02] Supercaly commented on #2
I close because it's been too long and new versions of the library are out so the problem should not be present anymore. If it still persists re-open the issue

[2019-06-18 09:02] #2 closed

[2019-07-02 21:27] zoro238 commented on #14
no

[2019-07-03 09:18] Supercaly commented on #14
@zoro238 what version of GeoFirestore are you using, try the last 1.5.0 and let us know if it solves the problem

[2019-07-04 08:53] Supercaly commented on #7
This problem is still present?

[2019-07-04 08:55] Supercaly commented on #29
Close because it's duplicate of issue #13 and can be solved using a newer version of the library (v1.2.1+)

[2019-07-04 08:55] #29 closed

[2019-07-07 09:44] mirmahfuz99 commented on #13
upgrade to 19.0.0 solved my problem.

[2019-08-11 06:06] ershanky opened #33 "Not able to get any documentSnapshot based on current GeoPoint. Suddenly stopped getting any result."

[2019-08-11 07:41] ershanky commented on #33
It was google-services.json project entry issue.

[2019-08-11 07:42] #33 closed

[2019-08-30 09:05] jayeshbabuav opened #34 "java.lang.NullPointerException: Location doesn't exist"
When I run the following code,
[code]
I get this exception:

[code]

My `setLocation()` works fine and location is getting entered in database fine.

[2019-09-01 11:01] Supercaly commented on #34
What's doing the function `getItem()`?

[2019-09-02 04:35] jayeshbabuav commented on #34
sorry I forgot to remove that getItem() while copying the code:

`geoFirestore.getLocation("documentId", new GeoFirestore.LocationCallback()
                {
                    @Override
                    public void onComplete(GeoPoint geoPoint, Exception e)
                    {
                           e.printStackTrace();
                    }
                });`

this is the actual cod

[2019-09-03 09:49] Supercaly commented on #34
The function returns a `NullPointerException` because the queried geolocation is null; this can depend on two factors:
1. In the database, your data is not set correctly with "l" and "g" fields
2. The "l" field of your data is not correctly set, it needs to be a `GeoPoint` or a `List<Double>`

[2019-09-14 04:37] jkrouz opened #35 "GeoFire still retrieving documents from cache even though I've disabled it"
My Firestore is still retrieving documents from cache even though I've explicitly told it not to.

At the moment `GeoFirestore` is the only code retrieving documents from cache. Examples from my `GeoFire` `onDocumentEntered` callback below:

    override fun onEvent(documentSnapshot: DocumentSnapshot?, exception: FirebaseFirestoreException?) {
        Log.d(TAG, "$documentSnapshot")

See the logs

[2019-09-17 09:23] Supercaly commented on #35
Currently, there are no settings in GeoFirestore to prevent or force cache reads

[2019-09-20 12:07] bhavin-chauhan commented on #34
I am facing same issue and I've checked my firestore database there is entry of l and g

[2019-09-20 12:34] bhavin-chauhan commented on #34
how you solved this issue, Can you please guide me so I can check my issue

[2019-10-28 11:21] jayeshbabuav opened #36 "paginate the query"
is there any way to paginate the results that we get from `geoFirestore.queryAtLocation()` query?

[2019-11-01 04:21] ntripathy opened #37 "getAtLocation doesn't work"
I am not getting desired result when I pass a radius other than 0.  When I pass the radius as 0 then I get all the documents returned.

Here is my code snippet in. Android using Java

GeoFirestore gfs = new GeoFirestore(cr)
gfs.getAtLocation(new GeoPoint(latitude, longitude), 0, new GeoFirestore.SingleGeoQueryDataEventCallback() {
            @Override
            public void onComplete(List<? ext

[2019-11-01 06:31] jayeshbabuav commented on #34
instead of using `geoFirestore.getLocation()`, i used `geoFirestore.queryAtLocation(new GeoPoint(latitude, longitude), 10)`

[2019-11-01 06:31] #34 closed

[2019-11-01 15:02] ntripathy commented on #37
I think the radius is in meters and not in Kilometers.  So when I give larger values then it is matching and returning desired documents.

[2019-11-03 06:32] jkrouz commented on #35
Hi @Supercaly - i've asked a related Q on Stackoverflow: https://stackoverflow.com/questions/58677916/firestore-returning-deleted-documents-in-queries

The library is having inconsistencies with cache reads - specifically:

1. Reading from cache even though persistence has been disabled

2. Saying documents are from cache even though they are not

Is there any way around this?

[2019-11-04 18:55] malebuffy opened #38 "ERROR: Failed to resolve: com.github.imperiumlabs:GeoFirestore-Android:v1.5.0"
I am using Android Studio 3.5.1
Gradle Build Version 3.5.1
Gradle Wrapper 5.6.4

and receive this when I try to Sync gradle files

[code]
Although I have done this

and this

[2019-11-07 16:47] #38 closed

[2019-11-13 23:01] CaelumF commented on #37
But the doc says it's in km? I can't see what I should when assuming km either so I reckon this should be opened and is probably a doc issue

[2019-11-14 09:56] Supercaly commented on #37
I've given a rough look at the code and I think the error is that the radius is not converted from Km to m (internally it uses meters), so you're definitely right to reopen this issue and I'll mark this as a bug.

[2019-12-01 20:21] zoro238 opened #39 "Explains code SingleGeoQueryDataEventCallback"
pls code Explains what is below

This will return to the SingleGeoQueryDataEventCallback a list of all the documents presents in the area and an exception if something goes wrong.

[2019-12-12 13:14] Seeyko opened #40 "setLocation with custom fieldNames"
Hello,

I have a firestore database with already existing GeoPoint under the field : `"gpsPoint"`
When i set a new location with GeoFirestore i use this already existing `gpsPoint` field in `setLocation ` method. But it also add the `"l"` field with a GeoPoint wich is a duplication of my `"gpsPoint"`.

[2019-12-15 15:38] Supercaly commented on #40
Yes, currently the library creates his own fields "l" and "h" and use them as indexes for queries; there is no way to make the library use custom fields, but if you want you can implement this feature and make a pull request, it will be appreciated.

[2019-12-25 18:29] hemrajpatil opened #41 "Didn't find class "com.google.firebase.FirebaseApp$IdTokenListenersCountChangedListener""
Didn't find class "com.google.firebase.FirebaseApp$IdTokenListenersCountChangedListener"
i am getting this errror on run time

[2020-01-29 18:29] betegon commented on #40
Any update on this @Seeyko ?

[2020-01-29 18:33] betegon opened #42 "Write only 1 time to Firestore"
I followed the `README` , that writes the geopoint and geohash to an existing firestore document.

[code]
The flow I am follow currently is:

 1. Write user info to a new document in Firestore

 2. Add GeoFirestore information to that document

This result in two writes into Firestore, doubling the price of the bill.

**is there a way I can attach GeoFirestore information to the other document inf

[2020-01-29 19:39] betegon opened #43 "Error in setLocation README documentation"
This is the `setLocation` function (copypaste) from [GeoFirestore.kt](https://github.com/imperiumlabs/GeoFirestore-Android/blob/master/geofirestore/src/main/java/org/imperiumlabs/geofirestore/GeoFirestore.kt)
[code]
As you can see on the last lines:
[code]
This should return `null` if the function is completed successfully, therefore, in the `README`  appears the following (screenshot below):

![i

[2020-01-30 11:55] betegon commented on #43
Closing issue as it is fixed by my pull request  #44 (already merged).

[2020-01-30 11:55] #43 closed

[2020-01-30 12:35] Supercaly commented on #42
Short answer: No
Long answer: The library didn't consider if the document was created two seconds ago or two years ago; hypothetically you can add geo-data to an old document.
I think that the typical use-case will be adding a new document along with with geo-data, so a method that let's add all in one go is well suited. I mark this issue as an enhancement hoping that someone will implement this f

[2020-01-30 12:40] betegon commented on #42
Perfect, I did a similar thing yesterday to try it out.

How do you see that functionality?
a) As a function that returns `g` and `l` so user can handle them as they want.
b) As a function that is given a hashmap  and it adds to it `g` and `l` and upload all to Firestore (this will be 2 functions I guess)

I lean towards a).

Let me know what do you think about it, please.

[2020-01-30 16:50] Supercaly commented on #42
I think there should be a function which takes your document POJO (or your map of fields), adds `g` and `l` to it and upload all the document in one go

This could be a pseudocode
[code]

[2020-01-30 22:03] betegon commented on #42
I have been thinking about your approach to this situation:

1. If you accept a `document`  (POJO or `hashmap`), it will be difficult to handle errors, due to the fact that Firestore only accept certain datatypes, meaning that it will cause an error if there is a datatype  Firestore does not accept.

Here is an example
[code]

Maybe I am taking a wrong approach, as I have less than a year of exper

[2020-02-05 09:01] Supercaly commented on #42
Yeah, I forgot error handling
If I recall correctly the Firestore way of adding a document has a callback on failure, so our hypothetical method will take as argument a function (the on error callback), internally listen the firebase one and notify the user (who is listening to our callback) in case of some error.

in Kotlin the method declaration will be something like:
[code]

[2020-02-12 14:04] amang0001 opened #45 "Is this line is wrong?"
https://github.com/imperiumlabs/GeoFirestore-Android/blob/master/geofirestore/src/main/java/org/imperiumlabs/geofirestore/GeoFirestore.kt#L192

not `if (geoPoint != null)` ?
[code]

[2020-02-27 19:40] champrocks3190 opened #46 "Location doesn't exist"
im getting error im using java code , i can write successfully but can get location.

geoFirestore.setLocation("hi", new GeoPoint(37.7853889, -122.4056973), new GeoFirestore.CompletionCallback() {
                @Override
                public void onComplete(@Nullable Exception e) {
                    if (e == null) {
                        Log.d("SUCCESS", "Location saved on server successfu

[2020-02-29 13:33] cbarrios commented on #35
Hi @Supercaly. I'm giving a try to this library. I did notice that onDocumentEntered callback is still retrieving docs even thou they are removed when you requery. While the listener is active, however, onDocumentExited is only called. Common scenario of this issue is the following: you query a particular area then you requery another area with 0 docs then you delete yours docs of the old area the

[2020-03-01 04:44] cbarrios commented on #35
firestore = FirebaseFirestore.getInstance();
        firestoreSettings = new FirebaseFirestoreSettings.Builder().setPersistenceEnabled(false).build();
        firestore.setFirestoreSettings(firestoreSettings);
        geoFirestore = new GeoFirestore(firestore.collection("name"));

That specific sequence will work for latest version of this library(v1.5.0). Give it a try.
Put that on the onCreate()

[2020-03-02 01:05] cbarrios commented on #42
Hi @betegon. I have the same problem but I have tried with firestore persistence enabled and it will result in just one read and one write with listener. However, when you switch the persistence to false, then you will be billed for 2 reads (the second due to the onDocumentChanged because of the second update to the initial doc) and a write.

[2020-03-02 08:03] betegon commented on #42
Hi @cbarrios

If you have the same problem as me, what do you think of @Supercaly  idea of a method like `addDocument` proposed in his latest comment?

As I am kind of a noob in kotlin, I don't know how to implement it, maybe if I look to you for guidance I could achieve it!

I will have a look at your code and I will come back to you.

[2020-03-02 19:02] cbarrios commented on #42
Hi @betegon
I do think that having such a method is the correct way to go since the code I put works only if firestore cache persistence is enabled (which by default is). When set to false, then the code will still cost 2 writes.

[2020-04-14 09:56] firmeldir commented on #8
I do not recommend using it since it has not been supported for a long time and uses ridiculous methods to solve the problem

[2020-04-24 18:35] jonbhanson commented on #37
I have confirmed that the library does indeed use meters although the documentation states kilometers.

in **GeoHashQuery.kt**, the `bitsForBoundingBox` routine call `GeoUtils.distanceToLatitudeDegrees(size)` to convert the length to degrees latitude.  Here is the code from that function:

`fun distanceToLatitudeDegrees(distance: Double) = distance / Constants.METERS_PER_DEGREE_LATITUDE`

Workarou

[2020-05-01 16:38] L30N100 opened #47 "getAtLocation wrong results"
If you use the geoFirestore.getAtLocation () method, the radius is inaccurate to 10 kilometers.

[2020-05-03 04:19] fernandopretell commented on #47
Me pasa lo mismo.

[2020-05-19 20:01] cbarrios commented on #47
Hi guys, right now the method accepts meters instead of kilometers. I know it's confusing because the listener accepts it in km but this one is in meters.

[2020-05-19 21:35] JobGetabu commented on #42
You could try this way: https://github.com/chintan369/Geo-FireStore-Query

[2020-05-19 21:38] JobGetabu opened #48 "Returns data only after second call"
`onGeoQueryReady()` is only called after I do a second subsequent call.
The callbacks don't return data for the first call

[2020-05-20 11:16] #48 closed

[2020-07-05 17:48] BikramKhanikar opened #50 "collection name document name"
can you help me with the collection and document name or a screen shot of the database

[2020-08-03 21:43] MatthewFRussell commented on #22
Is there still a possibility this will be added?  This is a necessity for me.

[2020-08-03 21:46] KelvinPac commented on #22
You can check out suiko1984 geofirestore lib. It has many features missing
from this including the filters

On Tue, 4 Aug 2020, 00:43 Matthew Russell, <notifications@github.com> wrote:

[2020-08-03 21:46] KelvinPac commented on #22
Link https://github.com/suiko1984/geofirestore-android#compound-query

[2020-08-03 21:47] KelvinPac commented on #22
https://github.com/suiko1984/geofirestore-android#compound-query

[2020-08-27 15:23] ThinClient opened #51 "GeoQuery#setRadius"
onDocumentEntered and onDocumentExited not fired when setRadius is called. Only onGeoQueryReady is firing.

[2020-08-28 05:39] ThinClient opened #52 "getAtLocation returning results out of radius bounds"
After fetching results using getAtlocation and inserting markers on a map, I drew a circle on the map using the same radius and center as the query radius and center. The are a lot of points outside the circle which means results that are out of bounds are being returned.

[2020-08-29 04:47] ThinClient commented on #52
I'm assuming the implementation of the search uses geohashes. After doing some research on geohashes, I understand that results might not be exact. I don't know whether the implementation of the algorithm compensates for that but if it doesn't, we could get more accurate results by further filtering the results on the client side by using distance utility functions such as provided by the Location

[2020-09-29 03:44] Texiant opened #53 "Angular geopfirestore and GeoFirestore-Android compatibility"
We have a web application and android application that needed the geofirestore library.
For web, we are using the web version of the geopfirestore library from npm and for Android we use GeoFirestore-Android.
However, it seems the storage structure of the geo hash is different in both cases and are not compatible.
Here is the npm web version structure.
g: {
    geohash: string;
    geopoint: GeoPo

[2020-10-06 14:22] BikramKhanikar commented on #14
it only works this way

`geoFirestore.setLocation("k", new GeoPoint(37.7853889, -122.4056973), new GeoFirestore.CompletionListener());`

This will work, but no efficient. It will stop the app from crashing. But it will not set the location directly from your app, you will have to set the collection & document name manually and then run your to setLocation & you will get the co-ordinates  in your d

[2020-10-09 22:55] egesamichael commented on #14
I use it this way `  CollectionReference mDocRef = FirebaseFirestore.getInstance().collection("mycollection");
                    GeoFirestore geofire = new GeoFirestore(mDocRef);
                    geofire.setLocation("mystring", new GeoPoint(mLastLocation.getLatitude(), mLastLocation.getLongitude()));` am listening to the oncomplete listener but that works well for me.

[2020-10-10 04:04] BikramKhanikar commented on #14
Thanks Egesa its working fine now.

[2020-10-15 15:38] ameerhamza6733 commented on #37
From initial testing i am sure it is not in KM, if you pass distance in KM then it calculates GEO hash for query upto 8 char, but if you pass distance in meters then it calculates GEO hash boundary box upto 5 char which make more sense

[2020-10-22 17:12] BikramKhanikar opened #54 "Error on gradle sync"
ERROR: Failed to resolve: com.github.imperiumlabs:GeoFirestore-Android:v1.5.0

[2020-10-22 17:13] BikramKhanikar commented on #38
same problem

[2020-10-22 17:17] BikramKhanikar commented on #38
Enable Jitpack
Add it in your root build.gradle at the end of repositories:

`allprojects {`
    `repositories {`
        `...`
        `maven { url 'https://jitpack.io' }`
   ` }`
`}`

[2020-10-22 19:48] #54 closed

[2020-10-24 06:12] BikramKhanikar opened #55 "How can I retrieve a list of user in recyclerView view"

[2021-02-23 12:30] naveenbharadwaj19 opened #56 "Work in dart ?"
Can i use `GeoFirestore-Android` in dart ? i tried to implement the library in `app/build.grade`it's not working

[2021-06-24 13:28] vision4shops opened #57 "get Location"
Even though the bug was fixed i am still getting location doesnt exist exception. I have checked every possible way to resolve it. The set location is working fine and locations for documents are correctly set. When i try to retrieve these locations i get the previously mentioned exception. I used:
implementation 'com.github.imperiumlabs:GeoFirestore-Android:v1.5.0'
Firestore connection is checked

[2022-05-23 06:21] HeinousGames commented on #57
I gave up on relying on this library for getting a location, despite the fact that location setting is still working. Instead I'm just getting the value manually as such (example in Kotlin)

`fsDB.collection("LocationCollection").document("locationKey").get().addOnSuccessListener {`
`val geoPoint = it.data!!["l"] as GeoPoint`
`val locationOnMap = LatLng(geoPoint.latitude, geoPoint.longitude)}`

[2022-07-04 18:53] TrickForMoney opened #58 "getLocation no funciona"
Quiero obtener la ubicación de un documento por medio de getLocation pero siempre me regresa nulo.